h1 {
  color: #5B5959; }

h2 {
  color: #716D6D; }

h3 {
  color: #626060; }

h4 {
  color: #757272; }

h5 {
  color: #878484; }

h6 {
  color: #989494; }

p {
  color: #9F9B9B; }

.homeImage {
  background: url(../images/girl.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  position: relative; }

.homeSearch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.landing {
  background: url(../images/jpg/sea.jpg) #103d50 70% 30% no-repeat !important; }
  .landing.segment {
    min-height: 600px;
    padding: 0em 0em; }

.transbg {
  min-height: 600px;
  background: rgba(32, 154, 189, 0.655); }

.menu {
  border: 0px !important; }

.landing-text {
  margin-top: 80px; }

/* page navigation menu start*/
.main-nav {
  background: #f4f4f4 !important;
  margin-top: 0px !important; }

#sidebar-icon > i {
  color: teal !important;
  margin-top: 30%; }

.my-logo {
  color: teal; }

.nav-menu > a {
  color: teal !important;
  font-size: 1.3em;
  font-family: tahoma;
  font-weight: 600; }
  .nav-menu > a:hover {
    color: #0BA974 !important; }

/* page navigation menu ends*/
.landing.ui.header h1 {
  margin-top: 4.2em;
  margin-bottom: 0.11em;
  font-weight: 100; }

.findbg {
  padding: 2em 1.5em;
  width: 100%;
  background: rgba(255, 255, 255, 0.7); }

.light-text > p {
  color: #95979b;
  font-family: Tahoma;
  font-size: 1.15em !important;
  font-weight: 200; }

.teal-color {
  color: teal; }

.light-color {
  color: #b6b7ba; }

.green-color {
  color: #22e525; }

.red-color {
  color: #e52522; }

.orange-color {
  color: #fc6f11; }

.blue-color {
  color: #3277e5; }

.yellow-color {
  color: #e5e522; }

.purple-color {
  color: #a611fc; }

/**/
.hidden.menu {
  display: none; }

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em; }

.masthead .logo.item img {
  margin-right: 1em; }

.masthead .ui.menu .ui.button {
  margin-left: 0.5em; }

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal; }

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal; }

.ui.vertical.stripe {
  padding: 8em 0em; }
  .ui.vertical.stripe h3 {
    font-size: 2em; }
  .ui.vertical.stripe .button + h3, .ui.vertical.stripe p + h3 {
    margin-top: 3em; }
  .ui.vertical.stripe .floated.image {
    clear: both; }
  .ui.vertical.stripe p {
    font-size: 1.33em; }
  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em; }

.quote.stripe.segment {
  padding: 0em; }
  .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em; }

.footer.segment {
  padding: 5em 0em; }

.secondary.pointing.menu .toc.item {
  display: none; }

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important; }
  .secondary.pointing.menu .item, .secondary.pointing.menu .menu {
    display: none; }
  .secondary.pointing.menu .toc.item {
    display: block; }
  .masthead.segment {
    min-height: 350px; }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em; }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em; } }

.project-image {
  height: 300px !important;
  width: 450px !important; }

.main-margin {
  margin-top: 150px; }

#map {
  width: 800px;
  height: 600px; }
